@import url('global.css');

.container1 {
    margin: 24px;
    padding: 28.5px 24px;

    background: radial-gradient(var(--gradient0), var(--gradient1));
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container1__iconBox {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: var(--grey900);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container1__text {
    color: var(--grey500);
}

.container1__numbers {
    display: flex;
    justify-content: space-between;
}

.container1__numbers__item {
    width: 42px;
    height: 42px;

    border-radius: 50%;
    background-color: var(--grey900);
    color: var(--grey500);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.container1__numbers__item__content {
    position: relative;
    left: 1px;
    top: 1px;
}