@import url('global.css');

/* Container 1 */
.container1 {
    /* 
    display: none;
    */    
}

.container1__iconBox {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: var(--grey900);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container1__text {
    color: var(--grey500);
}

.container1__numbers {
    display: flex;
    justify-content: space-between;
}

.container1__numbers__item {
    width: 42px;
    height: 42px;

    border-radius: 50%;
    background-color: var(--grey900);
    color: var(--grey500);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.container1__numbers__item__content {
    position: relative;
    left: 1px;
    top: 1px;
}

.container1__button {
    all: unset;

    background-color: var(--orange);
    border-radius: 22.5px;
    padding: 15px;
    color: var(--grey950);

    display: flex;
    justify-content: center;
    align-items: center;

    /* tp5--bold */
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.87px;
}

/* Container 2 */
.container2 {
    padding: 36px 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* */
    display: none;
}

.container2__image {
    width: 144px;
}

.container2__chip {
    padding: 6px 12px;
    
    border-radius: 22.5px;
    background-color: var(--grey900);
    color: var(--orange);

    position: relative;
}

.container2__chip__content {
    position: relative;

    top: 1px;
}

.container2__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.container2__content__text {
    text-align: center;
    color: var(--grey500);
}